* {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: sans-serif, Arial, Helvetica;
  /* color: #2c2c2c; */
  background-color: #131313;
  color: white;
}

body {
  padding: 20px 40px;
}

#title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  background: linear-gradient(220deg, #009FFF, #ec2F4B);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  margin: 20px 0;
  padding: 5px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 10px;
  color: white;
  border: white solid 1px;
}

.card {
  align-content: center;
  border-radius: 15px;
  margin: 20px 0;
  max-width: 280px;
  overflow: hidden;
  background-color: #221e29;
}



.card p {
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #221e29;
}

.card p:hover {
  background: linear-gradient(110deg, #009FFF, #ec2F4B);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.card img {
  max-height: 220px;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  background: linear-gradient(183deg, #009FFF, #ec2F4B);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}